.main-header {
  position: fixed;
  width: 100%;
  top: 0; left: 0;
  background-color: color('background');
  box-shadow: 0 2px 5px 0 color('gray', 'light');

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
  }
}