.navbar {
  display: flex;

  &__list {
    display: flex;
    list-style: none;

    &__item {
      

      // link est ici une surcharge, ça définition primaire étant dans components/_link.scss
      .link {
        position: relative;
        display: block;
        padding: 15px;
        @include transition();

        &:hover {
          &::after {
            bottom: 0;
            display: block;
            content: "";
            width: 45px;
            height: 5px;
            background-color: color('secondary', 'active');
            @include center-h(absolute);
            @include transition();
          }
        }
      }

    }
  }
}

.navbar-app {
  display: flex;

  .login {
    background-color: transparent;
    border: 0;
    height: 100%;
    margin-left: 10px;

    .icon {
      font-size: 26px;
    }
  }
}